.body {
    margin: 0px; 
}
.background{
    width:100%;
    height:100vh;
    background-image: url("Resources/background.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    overflow: hidden;
}
.boy{
    height: 280px;
    margin-top: 320px;
    position: absolute;
}


.box {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 500px;
    background-image: url(Resources/fire-66.gif);
    background-size: contain; 
    background-repeat: no-repeat; 
    
}
.score{
    font-size: 50px;
    font-weight:bold ;
    margin-top: 20px;
    margin-right: 20px;
    position:absolute;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #05464b; /* Stroke Color */
    -webkit-background-clip: text;
    background-clip: text;
    background:url(Resources/—Pngtree—wooden\ wood\ cartoon\ illustration_4737967.png); 
    padding: 35px 70px;
    background-size: cover;
}
.end{
    width:100%;
    height:100%;
    position:absolute;
    background: #0a0202;
    background: linear-gradient(90deg, rgba(10, 2, 2, 1) 0%, rgba(7, 7, 46, 1) 100%, rgba(87, 199, 133, 1) 100%, rgba(172, 212, 105, 1) 100%, rgba(237, 221, 83, 1) 100%);
    display:flex;
    align-items: center;
    font-size:120px;
    font-weight:bold;
    color:white;
    font-family:"broadway";
    justify-content: center;
    visibility: hidden;
    transition: all 0.5s ease;
    opacity: 0;   
}
#end.visible {
    opacity: 1;
    visibility: visible;
}

#button {
    padding: 15px 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

#button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #ff4b2b, #ff416c);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}
.win{
    width:100;
    height:100;
    position:absolute;
    background: #0a0202;
    background: linear-gradient(90deg, rgba(10, 2, 2, 1) 0%, rgba(7, 7, 46, 1) 100%, rgba(87, 199, 133, 1) 100%, rgba(172, 212, 105, 1) 100%, rgba(237, 221, 83, 1) 100%);
    display:flex;
    align-items: center;
    font-size:120px;
    font-weight:bold;
    color:white;
    justify-content: center;
    visibility: hidden;
    transition: all 0.5s ease;
    opacity: 0;   
    background-size: cover;
}
#win-image{
    width:50%;
    height:50%
}